<!--
<div class="jumbotron center">
  
  <h1>Never Stop Exploring</h1>
  <p>
    “The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.” 
    <br/>
    ― Jack Kerouac, On the Road
  </p>

  <br/>
  <p>
  	<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
  	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </p> 

</div>
-->


