<h1>About</h1>

<div class="blockquote-stepdown">
		At its root, problem-solving is the act of examining a situation and asking yourself, "How could this be better?" All humans have this instinct. Seeking to learn about particularly pragmatic solutions is the best way I've found to get energized and inspired to do the same. 
</div>
