<div class="jumbotron center"> 
<h1>Compass</h1>
<p>
	Here will be a few thoughts that I use to keep me on the right path. A personal collection of resources comprising of individuals who I personally find interesting and valuable to the field I want to peruse. An ongoing collection of knowledge, ideas and perspectives that I have been trying to curate to match my own personal narrative.
</p>
</div>