<div class="jumbotron center"> 
	<h1>Now</h1>

	<p>
	I have actually entertained this idea for a while now but have been using Google Keep as a substitute. Google Keep is fantastic for note taking and reminders but I want something that I can tailor. Each time I open my browser it would truly be nice to be able to see my own personal (publicly posted) <%= link_to "'Now'", "http://www.michaelhartl.com/now/", :target => '_blank' %> list each time I open my browser on start-up. For now I see it as an alright way to keep myself on track. 
	</p>
	<br/>
	<br/>
	<b>Progression of Personal Narrative:</b>
	<br/>
	<br/>

	<blockquote>
		<p>
			At its root, problem-solving is the act of examining a situation and asking yourself, "How could this be better?" All humans have this instinct. Seeking to learn about particularly pragmatic solutions is the best way I've found to get energized and inspired to do the same. 
			<br/>
			<br/>
			<footer><cite>Peter Greenberg</cite>, Travel Editor CBS News</footer>
		</p>
	</blockquote>
	<br/>
	<br/>
	The exploration of organization to a more effective structure. <b>Simplify, Simplify, Simplify.</b>
	<br/>
	<br/>
</div>

<div class="jumbotron center"> 
	<h1>Set Goals. Hit Them.</h1> 
	<ul>
		<li>Acquire: CNC Routing Machine</li>
		<li>Build Side Business with Numeric Craftsmanship and Small Scale Assembly</li> 
		<li>Aim to Sell One Item. Then perhaps aim to profit $10k a year.</li>
		<li>Acquire: Ski Tuning Equipment.</li>
		<li>Learn To: Tune and Wax My Own Skis.</li>
		<li>Running: Get to 30 Mile Weeks</li>
		<li>Retirement: Save More Money</li>
		<li>Skill Sets: Learn more about Front-end Development</li>
		<li>Skill Sets: Learn more about Interactive  SVG and Interactive Infographics</li>
	</ul>

	<br/>
	<br/>
	<br/>
</div>

<div class="jumbotron center"> 
	<p>
		<h1>Turning Big <kbd>Goals</kbd> and <kbd>Ideas</kbd> into small managable <kbd>Tasks</kbd>.</h1>
	</p>

	<p>
		Make your list of tasks action oriented. Objective oriented writing to produce an end result or contribute to an end result or achievement. 
		<br/>
		<br/>
		Select a time of day for items of said list that proves most suited to completing the task at hand.
		Is it a morning, lunch break, after work, night, or weekend task?
		<br/>
		<br/>
		<b>Getting started each day:</b> What do you know you can do right now? Could start with the <s>easy</s> short, quick tasks first. Or maybe you do better to do the more involved tasks first. I don’t like to say easiest or easy. Those words are relative. Plus it would imply inversely everything else is deemed a difficult task. That takes a mental toll on demeanor toward work and a negative predisposition towards one’s work before they even begin. Make it just simply a matter of the time “it” takes.
		<br/>
		<br/>
		Don’t think in terms of difficulty but in terms of <kbd>time</kbd> and <kbd>value</kbd>. Does the value of the task equal or surpass the time spent?
	</p>
</div>

<div class="jumbotron center"> 
	<h1>Task Pick List Structure</h1>
	<ul>
		<li>
			<kbd>[Task]</kbd> What is the task at hand?
		</li>
		<li>
			<kbd>[Goal/Objective]</kbd> Is it still worth doing and why?
		</li>
		<li>
			<kbd>[Morning, Afternoon, Evening, Afternoon, Night, Weekend]</kbd> If you have got this far: When is the best time to make this happen?
		</li>
	</ul>
	

	<br/>
	<br/>
	<br/>	

	<h1>Action List(s) Structure</h1> 
	<kbd>“Today’s mm-dd-yyyy"</kbd> <kbd>Action List</kbd>
	<ul>
		<li>
			<kbd>[Goal/Objective]</kbd> Best to know why you are doing something before you do it. Motivate.
		</li>
		<li>
			<kbd>[Task]</kbd> Okay now you got the motivation now get out there and make it happen.
		</li>
		<li>
			<kbd>[Time]</kbd> Time to make it happen.
		</li>
	</ul>
	<br/>
	<br/>
	<br/>

	<div class="table-responsive">
	<table class="table table-hover">
  		<thead>
  			<tr> <!-- Template -->
	  			<th><kbd>[Goal/Objective]</kbd></th>
	  			<th><kbd>[Action]</kbd></th>
	  			<th><kbd>[Task]</kbd></th>
	  			<th><kbd>[Time]</kbd></th>
  			</tr>
  		</thead>
  		<tbody>
  			<tr> <!--  -->
	  			<td>Start Your Own Business</td>
	  			<th scope="row">Do</th>
	  			<td>DBA Bank Account</td>
	  			<td>Daily AM Before Work</td>
  			</tr>
  			<tr> <!--  -->
	  			<td>Start Your Own Business</td>
	  			<th scope="row">Do</th>
	  			<td>Website</td>
	  			<td>Daily AM Before Work</td>
  			</tr>
  			<tr> <!--  -->
	  			<td>Start Your Own Business</td>
	  			<th scope="row">Plan</th>
	  			<td>Finalize Packaging</td>
	  			<td>Daily AM Before Work</td>
  			</tr>
  			<tr> <!--  -->
	  			<td>Start Your Own Business</td>
	  			<th scope="row">Plan</th>
	  			<td>Finalize Product</td>
	  			<td>Daily AM Before Work</td>
  			</tr>
  		</tbody>
	</table>
	</div>



</div>


<div class="jumbotron center"> 
	<h1>Routine Structure</h1>
	[Frequency] [Message] [Morning, Afternoon, Evening, Night, Weekend, mm/dd/yyy] [Location]
</div>
