<div class="jumbotron center"> 
<h1>Tool Box</h1>
<br/>
<br/>
<%= link_to "Color Wheel Joy", "https://color.adobe.com/create/color-wheel/", :target => '_blank' %>
</div>

<div class="jumbotron center"> 
<h1>Cite / Quote</h1>


<h2>How to Cite and Quote a Reference</h2>


		You should cite a reference whenever you use or describe an idea of another author.
		<br/>
		You should quote a reference whenever you use the worlds of another author.
		<br/>
		<br/>
		Got to give credit where it's due. <%= link_to "http://www.apastyle.org/", "http://www.apastyle.org/", :target => '_blank' %> 
</div>