/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 body {background-color: #f3f3f3;}
 body .container {color: #343434;}
a {color: #73B88A;}

.jumbotron {background-color: #f8f8f8;}
.jumbotron {color: #73B88A;}
.btn-primary {background-color: #73B88A; border-color: #73B88A;}
.btn-primary:hover {
  color: #ffffff;
  background-color: #639E77;
  border-color: #639E77;
}

.panel-primary .panel-heading {background-color: #73B88A; border-color: #f3f3f3;}
.panel-primary {border-color:#f3f3f3;}
.panel-body {color: #34495e;}

/*Trying to get the brand and nav links even on a horz plane.*/
.navbar-collapse, .navbar-brand {padding-top: 1em; padding-bottom: 1em;}
.navbar-header a.navbar-brand {color:#73B88A !important;} 
.navbar-header a.navbar-brand:hover {color:#639E77 !important;} 


.alert-custom {background-color: #73B88A; color: #ffffff;}


 *= require 'masonry/transitions'