/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

/* ==========================================================================
   Images - Keeping it Responsive
   ========================================================================== */
   
img, fieldset {
	border: 0;
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
} 

.centerImg img{
	margin: 0 auto 0;
	padding:1em 0 1em 0;
	position: relative;
	display: block; 
}



 body {background-color: #f3f3f3;}
 body .container {color: #343434;}
a {color: #73B88A;}

.jumbotron {background-color: #f8f8f8;}
.jumbotron {color: #73B88A;}


.btn-primary {background-color: #73B88A; border-color: #73B88A;}
.btn-primary:hover {
  color: #ffffff;
  background-color: #639E77;
  border-color: #639E77;
}

/*Nav Bar Brand*/
.navbar-collapse > .navbar-brand {padding-top: 1.5em;}
.navbar-header a.navbar-brand {color:#73B88A !important;} 
.navbar-header a.navbar-brand:hover {color:#639E77 !important;} 

/*Nav Bar Links*/
.navbar-nav li a.btn-primary {border-color: #73B88A; background-color: transparent; color: #73B88A;}
.navbar-nav li a.btn-primary:hover {background-color:#73B88A; color: #ffffff;}

/*Nav Bar Links*/
.navbar-nav li a {padding: .5em; margin:.5em;}
.navbar-nav>li>a.nav-link {color:#73B88A !important;}
.navbar-nav>li>a.nav-link:hover {color:#639E77 !important;}

.panel-primary .panel-heading {background-color: #73B88A; border-color: #f3f3f3;}
.panel-primary {border-color:#f3f3f3;}
.panel-body {color: #34495e;}

.alert-custom {background-color: #73B88A; color: #ffffff;}


 *= require 'masonry/transitions'